{% extends 'base.html' %}

{% block head %}
<title>Add Book</title>
{% endblock %}

{% block content %}
    <h2>Add Book</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{field.label}} <br>
                {{field}}
                {%if field.name == 'authors'%}
                    <small><a href="{%url 'add_author'%}">Couldn't find the author you need? Add this author to our database!</a></small>
                {%endif%}
            </p>
        {% endfor %}
        <button type="submit">Submit Book</button>
    </form>
{% endblock %}