{% extends 'base.html' %}

{% block head %}
<title>Add Author</title>
{% endblock %}

{% block content %}
    <h2>Add Author</h2>
    <div class="container">
    <form method="post">
        {% csrf_token %}
        {%for key, value in form.errors.items%}
            <small class="text-danger">{{value}}</small>
        {%endfor%}
        {% for field in form %}
            <p>
            <div class="label-cont">{{field.label}}</div> <br>
                {{field}}
            </p>
        {% endfor %}
        <button type="submit" class="btn btn-outline-warning block-btn">Submit Author</button>
    </form>
    </div>
{% endblock %}