body {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
}

.navbar, h1, h2 {
    font-size: 25px;
    font-family: 'Archivo Black', sans-serif;
}

a {
    color: #000;
}

.form-control, .block-btn {
    margin: 5px 0;
    width: 50%;
    position: relative;
    height: 35px;
    top: 25%;
    left: 25%;
    font-size: 13px;
}

.label-cont {
    text-align: center;
    font-weight: bold;
}

#books-table {
    margin: 10px auto;
}

.view-content, h2 {
    margin: 20px;
}

.view-btns{
    float: left;
    margin: 0.5em;
}

.log-headline {
    font-weight: bold;
}