{% extends 'base.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block content %}
    <h2 class>{{ user }}'s profile</h2>
    <hr>
    <h2>Full Name</h2>
    <div class="container view-content">
        <p>{{ user.first_name }} {{user.last_name}}</p>
    </div>
    <hr>
        {% if not user.userprofile.hide_email %}
            <h2>Email</h2>
            <div class="container view-content">
                <p>{{ user.email }}</p>
            </div>
            <hr>
        {% endif %}
        <h2>Date Joined</h2>
        <div class="container view-content">
            <p>{{ user.date_joined | date:'F d Y' }}</p>
        </div>
        <hr>
        <h2>From</h2>
        <div class="container view-content">
            <p>{{user.userprofile.location}}</p>
        </div>
        <hr>
        <h2>Website</h2>
        <div class="container view-content">
            <p>{{user.userprofile.website}}</p>
        </div>
        <hr>
        <h2>About</h2>
        <div class="container view-content">
            <p>{{user.userprofile.about}}</p>
        </div>
        <hr>
        <div class="view-btns">
            <form action="edit">
                <button class="btn btn-outline-warning btn-sm">Edit Profile</button>
            </form>
        </div>
        <div class="view-btns">
            <form action="change_password">
                <button class="btn btn-outline-warning btn-sm">Change Password</button>
            </form>
        </div>
        <div class="view-btns">
        <form action="{%url 'view_log'%}">
            <button class="btn btn-outline-warning btn-sm">View Reading Log</button>
        </form>
        </div>
    </div>
{% endblock %}