{% extends 'base.html' %}

    {% block head %}
        <title>Sign In</title>
    {% endblock %}

    {% block content %}
                <h2>Welcome back!</h2>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                            <label class="karla-text">{{ field.label }}</label> <br>
                            {{ field }}
                    {% endfor %}
                    <input type="submit", value="Sign In">
                </form>
                <p>Are you new here? <br> <a href="{% url 'signup' %}">Get yourself an account!</a> </p>
    {% endblock %}