{%extends 'base.html'%}

{%block head%}
    <title>Sign Up</title>
{%endblock%}

{%block signout%}
    <li class="nav_item">
        <a class="nav-link" href="{%url 'signin'%}">Sign In</a>
    </li>
{%endblock%}

{%block content%}
        <h2>Join Us!</h2>
        <div class="container">
        <form method="post">
            {%csrf_token%}
            {%for key,value in form.errors.items%}
                <small class="text-danger">{{value}}</small>
            {%endfor%}
            {%for field in form%}
                <p>
                    <div class="label-cont">{{field.label}}</div><br>
                    {{field}}
                </p>
            {%endfor%}
            <button type="submit" class="btn btn-outline-warning block-btn">Sign Up</button>
        </form>
        </div>
        <div class="container">
            <p>Already have an account? <br> <span class="bg-warning"><a href="{% url 'signin' %}">Sign In!</a></span></p>
        </div>
{%endblock%}