{% extends 'base.html' %}

    {% block head %}
        <title>Homepage</title>
        <style>
        </style>
    {% endblock %}

    {% block content %}
        <section>
            <div id="header"><p class="roboto-text">Book Tracker</p></div>
            <nav>
                <ul>
                    <li class="karla-text"><a href="{%url 'profile'%}">Profile</a></li>
                    <li class="karla-text"><a href="{%url 'signout'%}">Sign Out</a></li>
                    <li class="karla-text"><a href="{%url 'display_books'%}">Browse Books</a></li>
                </ul>
            </nav>
        </section>
    {% endblock %}