{% extends 'base.html' %}

    {% block head %}
        <title>Sign Up</title>
    {% endblock %}

    {% block content %}
        <h2 class="roboto-text">Join Us!</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <p class="karla-text">
                {{ field.label_tag }}<br>
                {{field}}
            </p>
            {% endfor %}
            <button type="submit">Sign Up</button>
        </form>
    <p>Already have an account?</p>
    {% endblock %}