{% extends 'base.html' %}

    {% block head %}
        <title>Sign In</title>
    {% endblock %}

    {% block content %}
        <div class="form-container">
            <h2 class="roboto-text">Welcome back!</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p class="karla-text">
                        {{ field.label_tag }} <br>
                        {{ field }}
                    </p>
                {% endfor %}
                <button type="submit">Sign In</button>
            </form>
        </div>
    {% endblock %}